@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background: #070B14;
  color: #F9FAFB;
  font-family: "Inter", sans-serif;
}